body {
  margin: 0
}

section{
    background-color: #4da6ff;
}

h2{
    background-color: yellow;
    border: #000000 2px solid;
height: 300px;    
margin: 50px;
}

.tartine2{
  margin-left: 20%;
}


.auto{
  margin : auto
}

.padding{
  padding: 50px;
}

.paddingLeft {
  padding-left: 20%;
}

.blockInfini{
display: inline;
}

.blockInfiniAndroid{
  display: none;
  }

  .largeur{
    width: auto;
    float: auto;
    overflow: auto; 
  }

  .absolue{
    position: fixed;
    background-color: green;
    margin-left: 50%;
    top: 50%;
 }

 .backAndroid{
   background-color: blue;
 }

/* Exo margin */
/* fin exo margin */

/* exo padding */
/* fin exo padding */

/* exo display */
/* fin exo display */

/* exo position */
/* fin exo position */

/* exo position (priorité) */
/* fin exo position (priorité) */